<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Glowing Pulse Search Bar">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Glowing Pulse Search Bar</title>
    <style>
    </style>
</head>

<body>
    <header>
    </header>

    <main>
        <section class="webdesigntuts-workshop">
            <form action="" method="">
                <input type="search" placeholder="What are you looking for?">
                <button>Search</button>
            </form>
        </section>


    </main>

    <footer>
    </footer>

    <script>
    </script>

    <noscript>
    </noscript>
</body>

</html>